
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Krona+One&family=Meow+Script&display=swap');
html{
    height: 100%;
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor_de_fundo: #291c12;
    --cor_de_destaque: rgb(10, 195, 195);
}

body{
    display: flex;
    flex-direction: column ;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color:var(--cor_de_fundo);
    color: aliceblue;
    
}
/*head*/
header{
    color: black;
    background-color: rgb(0, 0, 0) ;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
    height: fit-content;
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
   
}
.aheader{
    width: fit-content;
    background-color: black;
    color:  rgb(20, 190, 190) ;
}
.aheader:hover{
    box-shadow:  white;
    background-color: black;
}
/* main */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 3% 15%;

}
.apresentacao{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
}
.apresentacao_txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
}
.texto_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
  
/* botoes */
.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 10px;
    width: 50%;
    
    
}
.h2-botoes{
    font-family: "Days One", sans-serif;
    text-align: center;
    font-size: 1rem;
    
}
a{
   /* texto */
   font-family: "Days One", sans-serif;
   font-size: 1rem;
   text-align: center;
   text-decoration: none;
   color: aliceblue;
   /* design */
   display: flex;
   justify-content: center;
   gap: 15px;
   background-color: rgb(16, 112, 112);
   border-radius: 2px 8px;
   width: 100%;
   padding: 5px;
   margin: 5px;
   
   }
a:hover{
    background-color: rgb(20, 190, 190);
    border-radius: 8px 2px;
    transition: 0.8s;
    box-shadow: 5px 2px white;
}
.img-a{
    max-width:20px;
    filter: invert(100%);
}
h1, h2, h3{
    margin: 15px;
    text-align: center;
    font-family: "Krona One", sans-serif;
}
.destaque{
    
    font-family: "Meow Script", cursive;
    font-size: 2rem;
    line-height: 25px;
    color: var(--cor_de_destaque);
    text-align: center;
    
}
p{
    text-indent: 15px;
    margin: 10px;
    line-height: 1.1em;
    font-size: 1rem;
    font-family: "Days One", sans-serif;
    text-align: center;
    
}
.div_foto-antonio{
    width: 40%;
}
.foto-antonio{
    width: 100%;
    margin: 5px;
    border-radius: 45px;
    border: 10px double rgb(10, 195, 195) ;
    
}
/*about_certificados*/
.certificados{
    margin-top: 25px;
}
.certificados_alura{
    display: flex;
    margin: 10px;

}
.certificados_link{
    width:300px;
    margin: 15px;
}
.certificados_img{
    width: 300px;
}
/*projetos*/
.projetos_autorais{
    display: flex
}
.iframe_projetos{
    margin: 0px 15px;
    width: 200px;
    height: 100px;
}
#destaque_em_construção{
    font-family: "Meow Script", cursive;
    font-size: 4rem;
    line-height: 25px;
    color: var(--cor_de_destaque);
    text-align: center;
}
/*footer*/
.footer{
    margin-top: auto;
    color: rgb(214, 244, 251);
    background-color: rgb(0, 0, 0) ;
    text-align: center;
    font-size: 1rem;
    padding: 15px;
    
}
@media(max-width: 1200px)
{
    .header{
        
        width: max-content;
        align-items: center;
    }
    nav{
        justify-content: center;
    }
    main{
        margin: 3% 2%;
    }
    .apresentacao{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .certificados_alura{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}