
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Krona+One&family=Meow+Script&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
    
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;

}
.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    
}
.botoes{
    display: flex;
    justify-content:center;
    gap: 10px;
    margin: 25px 0px;
}
img{
    width: 250px;
    margin: 15px;
    border-radius: 45px;
    border: 10px double rgb(10, 195, 195) ;
}
a{
    background-color: rgb(16, 112, 112);
    width: 150px;
    padding: 10px 0px;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    border-radius: 2px 8px;
    margin: 15px 10px;
    color: black;
    font-family: "Days One", sans-serif;
    font-size: 1em;
}
a:hover{
    background-color: rgb(20, 190, 190);
    border-radius: 8px 2px;
    transition: 0.8s;
    box-shadow: 5px 2px white;
}
h1{
    font-family: "Krona One", sans-serif;
}
.destaque{
    font-family: "Meow Script", cursive;
    font-size: 2em;
    color: rgb(10, 195, 195) ;
    
}
p{
    font-family: "Days One", sans-serif;
}